<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Мойки" tabIcon="compass" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Бронирования" tabIcon="list-box" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Поиск" tabIcon="search" id="tabsController-tab3"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Любимые" tabIcon="star-outline" id="tabsController-tab4"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Настройки" tabIcon="settings" id="tabsController-tab5"></ion-tab>
</ion-tabs>