<ion-header>
  <ion-navbar>
    <ion-title>
      Без очереди
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="confirmSMS()">
        Далее
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="sms">
  <h2 id="sms-heading1" style="color:#747474;font-weight:300;text-align:center;">
    Введите код из SMS
  </h2>
  <div class="spacer" style="height:40px;" id="sms-spacer1"></div>
  <form id="sms-form1">
    <ion-input [textMask]="{mask: mask.PIN}" [(ngModel)]="pin" placeholder="XXXX" name="code"></ion-input>
  </form>
  <div class="spacer" style="height:40px;" id="page6-spacer6"></div>
  <div id="page6-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#747474;font-size:10px;">
      Создавая учетную запись в нашей системе вы автоматически принимаете
      <a href="https://opensource.org/licenses/MIT">
        условия использования сервиса
      </a>
    </p>
  </div>
</ion-content>