<ion-header>
  <ion-navbar>
    <ion-title>
      Booking
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page12">
  <span id="booking-container3">
    <h3 id="booking-heading14" style="color:#747474;font-weight:300;text-align:center;">
      Вы записаны на:
    </h3>
  </span>
  <h1 id="booking-heading13" style="color:#E66767;text-align:center;">
    {{newOrder.start_time}}
  </h1>
  <h3 id="booking-heading19" style="color:#747474;font-weight:300;text-align:center;">
    Ваш номер бронирования:
  </h3>
  <h1 id="booking-heading20" style="color:#E66767;text-align:center;">
    {{newOrder.code}}
  </h1>
  <div class="spacer" style="height:5px;" id="booking-spacer19"></div> 
  <p *ngFor="let serviceName of ordered">{{serviceName}}</p>
  <div class="spacer" style="height:15px;" id="booking-spacer19"></div>
  <h4 id="booking-heading12" style="color:#747474;font-weight:300;text-align:center;">
    Предъявите этот номер на мойке, чтобы подтвердить бронирование
  </h4>
  <div class="spacer" style="height:15px;" id="booking-spacer18"></div>
  <button (click)="goToNavigation()" id="booking-button17" ion-button clear color="calm" block large style="font-weight:300;color:#1098E0;font-size:26px;">
    ПОГНАЛИ!
  </button>
</ion-content>