<ion-header>
  <ion-navbar>
    <ion-title>
      Мойки около меня
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="viewMode" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="map">
        На карте
      </ion-segment-button>
      <ion-segment-button value="list">
        Списком
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content id="list">
  <div [ngSwitch]="viewMode" style="height:100%;width:100%;">
    <div id="map-container" *ngSwitchCase="'map'">
      <view-map [poi] = "poi" (onDetails)="showPOIDetails($event)"></view-map>
    </div>
    <div id="list-container" *ngSwitchCase="'list'">
      <view-list [poi] = "poi" (onDetails)="showPOIDetails($event)"></view-list>
    </div>
  </div>
</ion-content>