<ion-list id="poi-list">
  <ion-item *ngFor="let poi of _poi; trackBy: poi?.id" color="none" detail-push (click)="showPOIDetails(poi)">
    <ion-avatar item-left>
      <img src="assets/img/NVKmNpRoRxSiP9aTwftf_2017-06-1510.14.24.png" />
    </ion-avatar>
    <h6>
      {{poi.name}}
    </h6>
    <rating [(ngModel)]="poi.rating" readOnly="true" max="5" nullable="true" item-end></rating>
    <p><b>Время в очереди:</b> {{poi.lineTime}} мин</p>
    <p><b>От</b>&nbsp;{{poi.minPrice}}&nbsp;<b>до</b>&nbsp;{{poi.maxPrice}}  рублей</p>
    <p><b>Дополнительно:</b>&nbsp;{{poi.extra}}</p>
  </ion-item>
</ion-list>

