list-page {
  #map-container {
    height: 100%;
    width: 100%;
  }
 view-map {
   height: 200px;
   width: 200px;
   .scroll {
        height: 100%
      }
   #map {
      height: 100%;
      width: 100%;
   }
 }
 view-list {
  ul {
    padding: 0px;
    display: inline-block;
    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #488aff;
      display: inline-block !important;
      ion-icon {
        font-size: 18px;
      }
    }
  }
 }
}
