<ion-header>
  <ion-navbar>
    <ion-title>
      Настройки
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <div class="spacer" style="height:40px;" id="page4-spacer14"></div>
</ion-content>