
<ion-header>
  <ion-navbar>
    <ion-title>Навигация</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div #directionsPanel></div>
    </ion-card-content>
  </ion-card>
  <div #map id="map"></div> 
</ion-content>
