<ion-header>
  <ion-navbar>
    <ion-buttons start>
    </ion-buttons>
    <ion-title>
      Оплата
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goWelcome()">
        Далее
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <h2 id="billing-heading1" style="color:#747474;font-weight:300;text-align:center;">
    Привязка банковской карты
  </h2>
  <div class="spacer" style="height:40px;" id="billing-spacer1"></div>
  <form id="billing-form">
    <ion-item>
      <ion-label></ion-label>
      <ion-input type="number" placeholder="CC NUMBER" name="code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
      <ion-input type="number" placeholder="CARDHOLDER NAME" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
      <ion-input type="number" placeholder="VALID THROUGH" name="valid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
      <ion-input type="number" placeholder="CVV/CVV2" name="cvv"></ion-input>
    </ion-item>
  </form>
  <div class="spacer" style="height:15px;" id="billing-spacer2"></div>
  <div id="billing-markdown" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#747474;font-size:10px;">
      Создавая учетную запись в нашей системе вы автоматически принимаете
      <a href="https://opensource.org/licenses/MIT">
        условия использования сервиса
      </a>
    </p>
  </div>
</ion-content>