<ion-header>
  <ion-navbar>
    <ion-title>
      Sugest
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="suggest-page">
  <h3 id="sugest-heading1" style="color:#747474;font-weight:300;text-align:center;">
    К сожалению, запись на желаемое время невозможна
  </h3>
  <div class="spacer" style="height:15px;" id="sugest-spacer1"></div>
  <h3 id="sugest-heading11" style="color:#747474;font-weight:300;text-align:center;">
    Мы можем предложить вам следующее время:
  </h3>
  <div id="sugest-times-container">
    <button (click)="tryBooking(availableTimes[0])" id="sugest-button1" ion-button clear color="calm" large style="color:#1098E0;">
      {{toTimeString(availableTimes[0])}}
    </button>
    <button (click)="tryBooking(availableTimes[1])" id="sugest-button2" ion-button clear color="calm" large style="color:#1098E0;">
      {{toTimeString(availableTimes[1])}}
    </button>
    <button (click)="tryBooking(availableTimes[2])" id="sugest-button3" ion-button clear color="calm" large style="color:#1098E0;">
      {{toTimeString(availableTimes[2])}}
    </button>
  </div>
  <button id="sugest-cancel-button" ion-button clear color="assertive" block large style="color:#4E4E4E;">
    Отмена
  </button>
</ion-content>