<ion-content id="page8" style="background-color:#1098E0;">
  <div class="spacer" style="width:320px;height:15px;" id="welcome-spacer1"></div>
  <h1 id="welcome-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">
    Спасибо!
  </h1>
  <div class="spacer" style="height:100px;" id="welcome-spacer2"></div>
  <h1 id="welcome-heading2" style="color:#FFFFFF;font-weight:300;text-align:center;">
    Регистрация прошла успешно
  </h1>
  <div class="spacer" style="width:320px;height:150px;" id="welcome-spacer3"></div>
  <button id="welcome-button" ion-button color="light" block large style="color:#1098E0;font-size:24px;border-radius:0px 0px 0px 0px;" (click)="goTabs()">
    <ion-icon name="car"></ion-icon>
    ПОГНАЛИ!
  </button>
</ion-content>