<ion-header>
  <ion-navbar>
    <ion-title>
      Done
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <h2 id="done-heading9" style="color:#747474;font-weight:300;text-align:center;">
    Ваша машина помыта
  </h2>
  <div class="spacer" style="height:15px;" id="done-spacer13"></div>
  <div id="done-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#A5A4A4;font-size:15px;">
      С карты 44-- ---- ---- --56
      <br /> списано 350 руб
    </p>
  </div>
  <h3 id="done-heading18" style="color:#747474;font-weight:300;text-align:center;">
    Промокод на следующую мойку:
  </h3>
  <h1 id="done-heading15" style="color:#E66767;text-align:center;">
    JT2S467
  </h1>
  <div class="spacer" style="height:15px;" id="done-spacer15"></div>
  <h5 id="done-heading16" style="color:#747474;font-weight:400;text-align:center;">
    Вы можете использовать его сами (10% скидка на услуги) или поделиться с другом (15% скидка вам и 5% для друга)
  </h5>
  <div class="spacer" style="height:80px;" id="done-spacer20"></div>
  <button id="done-button8" ion-button clear color="calm" block large style="font-weight:300;color:#1098E0;font-size:26px;">
    <ion-icon name="share"></ion-icon>
    Поделиться
  </button>
</ion-content>