<ion-header>
  <ion-navbar>
    <ion-title>
      Запись на мойку
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">
  <h2 id="time-heading8" style="color:#747474;font-weight:300;text-align:center;">
    Введите желаемое время
  </h2>
  <form id="time-form11">
    <div class="spacer" style="height:45px;" id="time-spacer12"></div>
    <ion-datetime text-center displayFormat="HH:mm" placeholder="00:00" name="time" [(ngModel)]="bookingTime" cancelText="Отмена" doneText="Выбрать"></ion-datetime>
  </form>
  <div class="spacer" style="height:5px;" id="booking-spacer19"></div>
  <h4 style="color:#747474;font-weight:300;text-align:center;">
    Заказанные услуги:
  </h4> 
  <p class="service-list" *ngFor="let serviceName of serviceNames">{{serviceName}}</p>
  <button (click)="checkBooking()" ion-button clear color="calm" block large style="color:#1098E0;">
    Записаться на мойку
  </button>
  <button id="time-button2" ion-button clear color="assertive" block large style="color:#4E4E4E;">
    Отмена
  </button>
</ion-content>