page-time {
  ion-datetime {
    background-color: map-get($colors, light);
    color: #6c6c6c;
    margin-right: 0px;
    font-size: 28px;
  }
  p.service-list {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 300;
  }
}
