<ion-header>
  <ion-navbar>
    <ion-title>
      Без очереди
    </ion-title>
    <ion-buttons end>
      <button type="submit" [disabled]="!signupForm.valid" ion-button (click)="next()">
        Далее
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="signup">

  <form id="signup-form1" [formGroup]="signupForm" (ngSubmit)="next()">
    <h2 id="signup-heading1" style="color:#747474;font-weight:300;text-align:center;">
      Введите номер телефона
    </h2>
    <div class="spacer" style="height:40px;" id="signup-spacer2"></div>
    
    <ion-input [textMask]="{mask: mask.phoneNumber}" formControlName="phone" type="tel" placeholder="(495)XXX-XX-XX"></ion-input>
    
    <div class="spacer" style="height:40px;" id="signup-spacer1"></div>
    
    <button ion-button type="submit" [disabled]="!signupForm.valid" block>ЗАРЕГИСТРИРОВАТЬСЯ</button>
  </form>

  <h3 id="signup-heading2" style="color:#F14C4C;font-weight:300;text-align:center;">
    И дождитесь SMS с кодом
  </h3>
  <div class="spacer" style="width:300px;height:15px;" id="signup-spacer3"></div>
  <div id="signup-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#747474;font-size:10px;">
      Создавая учетную запись в нашей системе вы автоматически принимаете
      <a href="https://opensource.org/licenses/MIT">
        условия использования сервиса
      </a>
    </p>
  </div>
</ion-content>