<ion-header>
  <ion-navbar>
    <ion-title>
      Мои Бронирования
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list id="orders-list">
    <ion-item *ngFor="let order of orders" color="none">
      <ion-avatar item-left>
        <img src="assets/img/N4mHQ5R9RT2XPQ1UxrVy_2017-06-1510.14.24.png" />
      </ion-avatar>
      <h2>
        {{order.name}}
      </h2>
      <p><b>Вы записаны на:</b>&nbsp;{{order.start_time}}</p>
      <p><b>Код бронирования:</b>&nbsp;{{order.code}}</p>
      <p><b>Бокс №:</b>&nbsp;{{order.box}}</p>
    </ion-item>
  </ion-list>
</ion-content>