details-page {
  ul {
    padding: 0px;
    display: inline;
    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #488aff;
      display: inline-block !important;
      ion-icon {
        font-size: 18px;
      }
    }
  }
}
