<ion-header>
  <ion-navbar>
    <ion-title>
      {{carWash.name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="details-page-content">
  <ion-list id="details-list">
    <ion-item color="none" id="details-feedback" no-lines>
      Отзывы
      <rating [(ngModel)]="carWash.rating" readOnly="true" max="5" nullable="true" item-right></rating>
    </ion-item>
    <ion-item color="none" id="details-traveltime" no-lines>
      Время в пути
      <ion-note item-right>{{carWash.travelTime}}</ion-note>
      <ion-icon name="speedometer" item-right></ion-icon>
    </ion-item>
    <ion-item color="none" id="details-linetime" no-lines>
      Время в очереди
      <ion-note item-right>{{carWash.lineTime}}&nbsp;мин</ion-note>
      <ion-icon name="time" item-right></ion-icon>
    </ion-item>
    <ion-item-divider color="light" id="details-list-item-divider1" class="list-divider">
      УСЛУГИ
    </ion-item-divider>
    <form id="details-main-form" [formGroup]="detailsForm" (ngSubmit)="submit()">
      <ion-item *ngFor="let service of carWash.standard" no-lines text-wrap>
        <ion-label>
          {{service.name}}&nbsp;
        </ion-label>
        <div item-content>
          <strong>{{service.val}}</strong>&nbsp;руб
        </div>
        <ion-toggle color="balanced" checked="false" [formControlName]="service.id"></ion-toggle>
        <!--<ion-radio name="exclusive-services"></ion-radio>-->
      </ion-item>
      <ion-item-divider color="light" id="details-list-item-divider2" class="list-divider">
        ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
      </ion-item-divider>
      <ion-item *ngFor="let service of carWash.additional" no-lines text-wrap>
        <ion-label>
          {{service.name}}&nbsp;
        </ion-label>
        <div item-content>
          <strong>{{service.val}}</strong>&nbsp;руб
        </div>
        <ion-toggle color="balanced" checked="false" [formControlName]="service.id"></ion-toggle>
      </ion-item>
      
      <button type="submit" [disabled]="decompileFields(detailsForm.value).length == 0" ion-button clear color="calm" block large style="color:#1098E0;" on-click="goToBookingDetails(carWash)">
        Помыться сейчас
      </button>
      <button type="submit" [disabled]="decompileFields(detailsForm.value).length == 0" ion-button clear color="calm" block large style="color:#1098E0;" on-click="goToTime(carWash)">
        Записаться на мойку
      </button>
      <button id="details-button7" ion-button clear color="assertive" block large style="color:#4E4E4E;" on-click="goBack()">
        Отмена
      </button>
      <!--end of form-->
    </form>
  </ion-list>
</ion-content>